
#contact_form {
	width: 50%;
	float: left;
}

#contact_form input {
	width: 80%;
}


.input {
	margin-bottom:20px;
}

.contact_info {
	width: 50%;
	float: right;
}

#message_input input {
	height: 150px;
}