/* Gallery Styles*/

.gallery_item {
	float:left;
	width: 16%;
	margin-right: 0.6%;
}

#main_window img {
	width:100%;
}

.gallery_image img{
	width:100%;
}

#gallery {
	width: 100%;
	overflow: auto;
	padding: 0px;
}

#image_gallery {
	overflow: auto;
	margin: 100px 0px 100px 0px;
	background-color: #e8e8e8;
	border-top: 2px dashed #D5CECE;
	border-bottom: 2px dashed #D5CECE;
}